{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": [],
  "overrides": [
    {
      "files": "docs/feature-specs/**/*.md",
      "options": {
        "proseWrap": "never"
      }
    }
  ]
}
